:root {
  --color--white: #ffffff;
  --color--black: #000000;
  --color--green: #008000;
  --color--yellow: #e0ba0d;
  --color--red: #b4120c;
  --color--mint: #9ccc9c;
  --color-beige: #f3e2b2;
}

* {
  box-sizing: border-box;
}
body {
  width: 38rem;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  margin: 0.1rem 0.3rem;
  cursor: pointer;
}

ul {
  margin-left: 1rem;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar {
  font-size: 2.5rem;
  padding: 2rem;
  background-color: var(--color-beige);
}

.navbar__logo {
  color: var(--color--green);
}

.navbar__title {
  margin: 0 1rem;
}

.navbar__totalCount {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  color: white;
  background-color: var(--color--green);
}

.addForm {
  margin: 1.6rem 0 0 0.3rem;
  display: flex;
}

.addForm__input {
  width: 100%;
  font-size: 2rem;
}

.addForm__btn {
  width: 5rem;
  height: 2.8rem;
  background-color: var(--color--green);
  color: var(--color--white);
  font-size: 2rem;
}

.habit__title {
  font-size: 2rem;
  flex-basis: 70%;
}

.habit__count {
  display: inline-block;
  font-size: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.3rem;
  background-color: var(--color--mint);
  color: var(--color--white);
}

.habit__plusBtn {
  color: var(--color--yellow);
}

.habit__minusBtn {
  color: var(--color--yellow);
}

.habit__trashBtn {
  color: var(--color--red);
}

.habits__reset {
  display: inline-block;
  font-size: 1.5rem;
  background-color: var(--color--green);
  color: white;
  padding: 0.3rem 1rem;
}